.recommendations-card-container {
    display: flex;
    padding: 2vw;
    border: 0.3vw solid #000;
    border-radius: 1vw;    
}


.form-button-container{
    padding-top: 1.6vw;
}

.form-organism-container{
    padding: 10vw;
    border: 0.3vw solid #000;
    border-radius: 2vw;
}

@media (min-width: 768px) {
    .form-organism-container {
        padding: 1vw;
        border: 0.2vw solid #000;
        border-radius: 1.5vw;
}
    .form-button-container {
        padding-top: 0.6vw;
}

    .recommendations-card-container {
        display: flex;
        padding: 1vw;
        border: 0.2vw solid #000;
        border-radius: 1vw;
}
.right-div{
    
}
.testing{
    font-family: 'Anonymous Pro', monospace;
    font-size: 2vw;
    font-weight: 500;
}
}