.recommendations-card-container {
    display: flex;
    padding: 2vw;
    border: 0.6vw solid #000;
    border-radius: 1vw;    
}


.form-button-container{
    padding-top: 1.6vw;
}

.form-organism-container{
    padding: 10vw;
    border: 0.3vw solid #000;
    border-radius: 2vw;
}