.recommendations-card-container {
    display: flex;
    padding: 2vw;
    border: 0.3vw solid #000;
    border-radius: 1vw;    
}

.submit-button{

    padding-top: 10vw;
}

.green-button{
    color: #EBE5DC;
    background-color: #868365;

}

.form-button-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 8vw;
    
}

.form-organism-container{

    padding: 10vw;
    border: 0.3vw solid #000;
    border-radius: 2vw;
}

@media (min-width: 768px) {

    .submit-button {
            padding: 1vw;
            padding-top: 4vw;
        }

    .molecular-header{
        padding-bottom: 2vw;
    }

    .form-organism-container {
        padding: 1vw;
        border: 0.2vw solid #000;
        border-radius: 1.5vw;
}
    .form-button-container {
        padding-top: 1vw;
        display: flex;
    
}

    .recommendations-card-container {
        display: flex;
        padding: 1vw;
        border: 0.2vw solid #000;
        border-radius: 1vw;
}
.right-div{
    
}
.testing{
    font-family: 'Anonymous Pro', monospace;
    font-size: 2vw;
    font-weight: 500;
}
}