.recommendations-container {
    padding: 5vw;
}
.recommendation-header{
padding-bottom: 10vw;
}
.recommendation-cards{

}

.form-container {
    padding: 5vw;
}

.form-heading-container{
    padding-bottom: 15vw;
}