.bodies {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
}

.headings {

    font-family: 'Odibee Sans', sans-serif;
}

.round-button {
    font-size: 5vw;
    height: 15vw;
    width: 100%;
    border-radius: 10vw;
    border: 2rem;
    background: #D1D1D1;
    cursor: pointer;
    color: black;
}

.square-button {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 0.2rem solid #000;
    background: #EBE5DC;
}
