.bodies {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
}

.headings {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
}

.card-bodies {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
}

.card-headings {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 6vw;
}

.round-button {
    font-family: 'Odibee-Sans', monospace;
    font-weight: 700;
    font-size: 4vw;
    height: 12vw;
    width: 100%;
    border-radius: 1vw;
    border: 0.7vw solid #000;
    background: #868365;
    cursor: pointer;
    color: black;
}

.square-button {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 5vw;
    width: 11vw;
    height: 14vw;
    flex-shrink: 0;
    border-radius: 1vw;
    border: 0.7vw solid #000;
    background: #EBE5DC;
}
.square-button:hover {
    color: #EBE5DC;
    background-color: #868365;
    cursor: pointer;
}

.green-button {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 5vw;
    width: 9vw;
    height: 11vw;
    flex-shrink: 0;
    border-radius: 1vw;
    border: 0.5vw solid #000;
    color: #EBE5DC;
    background-color: #868365;

}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10vw;
    border: 0.2vw solid #000;
    background: #EBE5DC;
}

.progress-bar__fill {
    height: 1.5vw;
    background-color: #000;
    border-radius: 10vw;
}

.square-image {
    height: 100%;
    width: 100%;
    padding-top: 0.1vw;
    padding-right: 0.1vw;
}



@media (min-width: 768px) {
    .round-button {
        font-family: 'Odibee Sans', sans-serif;
        font-weight: 700;
        font-size: 1.3vw;
        height: 3.5vw;
        width: 100%;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
        background: #868365;
        cursor: pointer;
        color: #000;
        }
        
    .bodies {
        font-family: 'Anonymous Pro', monospace;
        font-size: 0.9vw;
        font-weight: 400;
    }

    .headings {
        font-family: 'Anonymous Pro', monospace;
        font-size: 4vw;
        font-weight: 700;
    }

    .card-bodies {
        font-family: 'Anonymous Pro', monospace;
        font-size: 0.9vw;
        font-weight: 400;
    }

    .card-headings {
        font-family: 'Anonymous Pro', monospace;
        font-size: 2.5vw;
        font-weight: 700;
    }

    .square-button {
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
        font-size: 1.5vw;
        width: 3.5vw;
        height: 4.5vw;
        flex-shrink: 0;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
        background: #EBE5DC;
    }
    .green-button {
        font-family: 'Anonymous Pro', monospace;
        font-weight: 700;
        font-size: 1.5vw;
        width: 3.5vw;
        height: 4.5vw;
        flex-shrink: 0;
        border-radius: 0.5vw;
        border: 0.2vw solid #000;
        color: #EBE5DC;
        background-color: #868365;
    
        }

.square-image {
    height: 100%;
    width: 20vw;
    padding-top: 0.1vw;
    padding-right: 1vw;
}

}